.login {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  @media (min-width: 1024px) {
    height: 100vh;
  }
}

.loginIcon {
  max-width: 100%;
}

.formWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.formClass {
  min-width: 100%;
  @media (min-width: 1024px) {
    min-width: 600px;
  }
}

.homeButtonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
