.formClass {
  min-width: 100%;
  @media (min-width: 1024px) {
    min-width: 600px;
  }
}

.submitButton {
  width: 100%;

  @media only screen and (min-width: 1024px) {
    width: auto;
  }
}

.authIcon {
  max-width: 100%;
}
