@mixin font16 {
  font:
    normal 400 1rem Inter,
    sans-serif;
}

@mixin font16SemiBold {
  font:
    normal 600 1rem Inter,
    sans-serif;
}

@mixin font16Bold {
  font:
    normal bold 1rem Inter,
    sans-serif;
}
