:root {
  font-family: -apple-system, BlinkMacSystemFont, “Ubuntu”, “Roboto”, “Segoe UI”, “Oxygen”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: Roboto-Light;
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-LightItalic;
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-Regular;
  font-size: 20px;
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-RegularItalic;
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-Medium;
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-Bold;
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}
