.auth {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  @media (min-width: 1024px) {
    height: 100vh;
  }
}

.formWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
