@import '../styles/variables.scss';

.layout {
  background-color: white;
}

.siteLayoutContent {
  max-width: 75rem;
  margin: auto;
  padding: 2rem 1.2rem;

  @media only screen and (max-width: 900px) {
    padding: 3.25rem;
  }

  @media only screen and (max-width: 1200px) {
    padding: 3.25rem 0;
  }
}
