@import '../../styles/mixins.scss';

.asyncTypeaheadWrapper {
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

.selectContainer {
  @include fontRegular16;
  min-width: 100%;

  @media (min-width: 1024px) {
    min-width: 500px;
  }
}
