@import '../../styles/mixins.scss';

.notFoundPage {
  display: flex;
  @include font16;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    @include font16Bold;
  }
}

.notFoundIcon {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;

  @media (min-width: 760px) {
    margin-top: 50px;
  }
}
