.notFoundPage {
  display: flex;
  font-family: 'Roboto-Medium', sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 20px;
  }
}

.notFoundIcon {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;

  @media (min-width: 760px) {
    margin-top: 50px;
  }
}
