.notFoundPage {
  display: flex;
  padding: 50px 0;
  font-family: 'Roboto-Medium', sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    margin-top: 40px;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 20px;
  }
}
